<ion-view title="Anfrage erstellen" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="anfrageErstellen-heading4" style="color:#000000;" class=" ">Anfrage einstellen</h2>
        
        
        <div style="padding:0;margin:0" ng-controller="einblendenCtrl" ng-repeat="kategorie in kategorien" class="item item-body " id="anfrageErstellen-list-item-container6">
            <div style="padding:0.5em;background:#e6e6e6" ng-click="toggle()" >
            <p id="anfrageErstellen-markdown13" style="margin-top:0px;color:#000000;font-size:14pt" class=" ">{{kategorie.oberkategorie}}</p>
                </div> 
            <div style="height:0.5em" ng-show="myVar"></div>
            <div style="padding-left:0.5em" ng-show="myVar" ng-repeat="element in kategorie.elemente">
                <span style="font-size:14pt">{{element.beschriftung}}</span>
                <input type="{{element.art}}" id="{{element.id}}" style="{{element.style}};font-size:14pt" name="{{element.gruppe}}">
                </input>
                <label style="font-size:14pt" for="{{element.id}}">{{element.name}}</label>
            </div>
             <div style="height:0.5em" ng-show="myVar"></div>
        </div>
    
       <div style="padding:0;margin:0" class="item item-body " id="anfrageErstellen-list-item-container7">
            <div style="padding:0.5em">
            <p id="anfrageErstellen-markdown13" style="margin-top:0px;color:#000000;font-size:14pt" class=" ">Preisvorstellung</p>
                </div> 
            <div style="height:0.5em"></div>
            <div style="padding-left:0.5em">
            <select style="font-size:14pt" name="preis">
  <option value="min">max</option>
  <option value="max">min</option>
</select>
                <input style="display:inline;width: 5em;font-size:14pt" type="number" id="preisvorstellung">
                </input>
                <label style="font-size:14pt" for="preisvorstellung">€</label>
            </div>
             <div style="height:0.5em"></div>
        </div>

<div style="padding:0;margin:0" class="item item-body " id="anfrageErstellen-list-item-container7">
            <div style="padding:0.5em">
            <p id="anfrageErstellen-markdown13" style="margin-top:0px;color:#000000;font-size:14pt" class=" ">Spätester Fertigstellungstermin</p>
                </div> 
            <div style="height:0.5em"></div>
            <div style="padding-left:0.5em">
         <input style="font-size:14pt" type="date" id="fertigstellung">
                </input>
            </div>
             <div style="height:0.5em"></div>
        </div>


    <div id="anfrageErstellen-button-bar4" class=" button-bar ">
            <a ui-sref="tabsController.homeTab" id="anfrageErstellen-button17" class=" button button-positive  button-block ">Abbrechen</a>
            <a ui-sref="tabsController.homeTab" id="anfrageErstellen-button18" class=" button button-positive  button-block ">Speichern</a>
            <button id="anfrageErstellen-button19" class=" button button-positive  button-block ">Weiter</button>
        </div>
    </ion-content>
</ion-view>