<ion-view title="Anfrage erstellen" id="templates/anfrageErstellen.html" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="anfrageErstellen-heading4" style="color:#000000;" class=" ">Anfrage einstellen</h2>

        <form name="checkliste" data-ng-submit="jsonErstellen()" novalidate ng-model="checkliste">

        <div>
        
        <span style="font-size:14pt">Titel:</span>
                    <input id="anfrageTitel" style="font-size:14pt" >
                </input>        
        </div>
        
    <div ng-model="addform" style="padding:0;margin:0" ng-controller="einblendenCtrl" ng-repeat="kategorie in kategorien" class="item item-body " id="anfrageErstellen-list-item-container6">
            
            <div style="padding:0.5em;background:#e6e6e6" ng-click="toggle()" >
            <p id="anfrageErstellen-markdown13" style="margin-top:0px;color:#000000;font-size:14pt" class=" ">{{kategorie.oberkategorie}}</p>
            </div> 
            
            <div style="height:0.5em" ng-show="myVar"></div>
            
            <div style="padding-left:0.5em" ng-show="myVar" ng-repeat="element in kategorie.elemente" ng-controller="auswahlEinblendenCtrl">
                <div ng-click="auswahleinblenden()" >
                <span style="font-size:14pt">{{element.beschriftung}}</span>
                    <input type="{{element.art}}" id="{{element.id}}" style="{{element.style}};font-size:14pt" name="{{element.gruppe}}" >
                </input>
                <label style="font-size:14pt" for="{{element.id}}">{{element.name}}</label>
                </div>
                <div ng-show="myVar2" style="padding-left:0.5em">
                    
                    
                    <table>
                        <tr style="font-size:13pt" ng-repeat="eigenschaft in element.eigenschaften">
                            <td><label style="font-size:14pt" for="{{eigenschaft.id}}"></label>                    &nbsp&nbsp&nbsp
{{eigenschaft.beschriftung}}</td>
                            <td ALIGN="RIGHT"><input type="{{eigenschaft.art}}" id="{{eigenschaft.id}}" style="{{eigenschaft.style}};font-size:13pt" name="{{eigenschaft.gruppe}}" placeholder="{{eigenschaft.placeholder}}">
                    </input></td>
                            <td>&nbsp{{eigenschaft.name}}</td>
                        </tr>
                    </table>
                    
                    

                </div>
         </div>
        <div style="height:0.5em" ng-show="myVar"></div>
    </div>


    <div id="anfrageErstellen-button-bar4" class=" button-bar ">
            <button ui-sref="tabsController.homeTab" type="button" id="anfrageErstellen-button17" class=" button button-positive  button-block " ng-click="abbrechen()">Abbrechen</button>
            <button type="submit" method="post" id="anfrageErstellen-button19" class=" button button-positive  button-block ">Weiter</button>
        </div>
    </form>
</div>

    </ion-content>
</ion-view>
