<ion-view title="Anfrageübersicht" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="anfrageBersicht-heading2" style="color:#000000;" class=" ">Schrank gesucht!</h1>
        <ion-list id="anfrageBersicht-list10" class=" ">
            <ion-item id="anfrageBersicht-list-item22" class="  ">Größe</ion-item>
            <ion-item id="anfrageBersicht-list-item24" class="  ">Material</ion-item>
        </ion-list>
        <div id="anfrageBersicht-button-bar2" class=" button-bar ">
            <a ui-sref="tabsController.homeTab" id="anfrageBersicht-button11" class=" button button-positive  button-block ">Ablehnen</a>
            <a ui-sref="meineBeitrGe" id="anfrageBersicht-button12" class=" button button-positive  button-block ">Merken</a>
            <a ui-sref="anfragenannahme" id="anfrageBersicht-button13" class=" button button-positive  button-block ">Weiter</a>
        </div>
    </ion-content>
</ion-view>