<ion-view title="Anfrage erstellen - Übersicht" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="anfrageErstellenBersicht-heading5" style="color:#000000;" class=" ">Anfrage einstellen</h2>
        <div class="item item-body " id="anfrageErstellenBersicht-list-item-container16">
            <p id="anfrageErstellenBersicht-markdown14" style="margin-top:0px;color:#000000;" class=" ">{{titel}}
            </p>
        </div>
        <div id="anfrageErstellenBersicht-button-bar5" class=" button-bar ">
            <a ui-sref="anfrageErstellen" id="anfrageErstellenBersicht-button20" class=" button button-positive  button-block ">Bearbeiten</a>
            <a ui-sref="tabsController.homeTab" id="anfrageErstellenBersicht-button21" class=" button button-positive  button-block ">Abschicken</a>
        </div>
    </ion-content>
</ion-view>