<ion-view title="Anfragenannahme" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="anfragenannahme-heading3" style="color:#000000;" class=" ">Schrank gesucht!</h1>
        <div class="item item-body " id="anfragenannahme-list-item-container12">
            <p id="anfragenannahme-markdown11" style="margin-top:0px;color:#000000;" class=" ">Größe</p>
            <form id="anfragenannahme-form3" class="list ">
                <ion-checkbox>2,00 x 3,00 x 0,5</ion-checkbox>
                <ion-checkbox>Checkbox</ion-checkbox>
                <ion-checkbox>Checkbox</ion-checkbox>
            </form>
        </div>
        <div class="item item-body " id="anfragenannahme-list-item-container13">
            <p id="anfragenannahme-markdown12" style="margin-top:0px;color:#000000;" class=" ">Gesamtpreis</p>
            <form id="anfragenannahme-form4" class="list ">
                <label class="item item-input " id="anfragenannahme-input6">
                    <input type="number" placeholder="€">
                </label>
                <ion-item class="range range-positive " id="anfragenannahme-range1">Untergrenze
                    <input type="range" value="50" min="0" max="3000">
                </ion-item>
            </form>
            <div id="anfragenannahme-button-bar3" class=" button-bar ">
                <a ui-sref="tabsController.homeTab" id="anfragenannahme-button15" class=" button button-positive  button-block ">Abbrechen</a>
                <a ui-sref="tabsController.homeTab" id="anfragenannahme-button16" class=" button button-positive  button-block ">Abschicken</a>
            </div>
        </div>
    </ion-content>
</ion-view>