<ion-view title="Angebotsübersicht" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="angebotsBersicht-heading7" style="color:#000000;" class=" ">Angebotsübersicht</h2>
        <div class="item item-body " id="angebotsBersicht-list-item-container18">
            <p id="angebotsBersicht-markdown16" style="margin-top:0px;color:#000000;" class=" ">viele interessante Details</p>
        </div>
        <div id="angebotsBersicht-button-bar6" class=" button-bar ">
            <a ui-sref="pakete" id="angebotsBersicht-button23" class=" button button-positive  button-block ">Zurück</a>
            <a ui-sref="tabsController.chatEinzelperson" id="angebotsBersicht-button25" class=" button button-positive  button-block ">Auswählen</a>
        </div>
    </ion-content>
</ion-view>