<ion-view title="Chat Gruppenchat" id="page21" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="chatGruppenchat-list16" class=" ">
            <ion-item class="item-avatar  " id="chatGruppenchat-list-item33">
                <img src="NGe22aPvTGmVawWRYePa_Passbild.jpg" width="80" height="80">
                <h2>Franziska Moenster</h2>
            </ion-item>
            <ion-item class="item-avatar positive  " id="chatGruppenchat-list-item34">
                <img src="Rl0wvotQqOFhnTCRdtZH_snap.jpg" width="80" height="80">
                <h2>Annika Schimbold</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 214px;"></div>
        <form id="chatGruppenchat-form7" class="list ">
            <label class="item item-input " id="chatGruppenchat-input8">
                <span class="input-label">Gib deine Nachricht ein!</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="chatGruppenchat-button27" class=" button button-positive  icon-right ion-android-send " ng-click="sendMessage()"> Senden </button>
    </ion-content>
</ion-view>
