<ion-view title="Chat Gruppenchat" id="page21" class=" ">

    <ion-content padding="true" class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">
        <ion-list id="chatGruppenchat-list16" class=" ">
            <ion-item class="item-avatar  " id="chatGruppenchat-list-item33">
                <img src="img/NGe22aPvTGmVawWRYePa_Passbild.jpg" width="80" height="80">
                <h2>Franziska Moenster</h2>
            </ion-item>
            <ion-item class="item-avatar positive  " id="chatGruppenchat-list-item34">
                <img src="img/Rl0wvotQqOFhnTCRdtZH_snap.jpg" width="80" height="80">
                <h2>Annika Schimbold</h2>
            </ion-item>
        </ion-list>

      <link href="lib/ionic/css/chat.css" rel="stylesheet">
      <div ng-repeat="message in messages"
           ng-class="{other: message.userId != myId}"
           class="messages"
           align="right">
        <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
          <span style="background: #007AFF ;display: inline-block ; color: white ; padding: 10px ; border-radius: 10px ; text-align:right; max-width: 240px;">

            {{message.text}}</span>
        </div>

        <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.timestamp}}</div>
      </div>
    </ion-content>

  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">

    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
    </label>
    <button class="button button-positive" ng-click="sendMessage()">
      Senden
    </button>
  </ion-footer-bar>
</ion-view>
