<ion-view title="Chat Gruppenchat" id="templates/chatGruppenchat.html" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="chatGruppenchat-list16" class=" ">
            <ion-item class="item-avatar  " id="chatGruppenchat-list-item33">
                <img src="img/NGe22aPvTGmVawWRYePa_Passbild.jpg">
                <h2>Franziska Mönster</h2>
            </ion-item>
            <ion-item class="item-avatar positive  " id="chatGruppenchat-list-item34">
                <img src="img/Rl0wvotQqOFhnTCRdtZH_snap.jpg">
                <h2positive>Annika Schimbold</h2positive>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 214px;"></div>
        <form id="chatGruppenchat-form7" class="list ">
            <label class="item item-input " id="chatGruppenchat-input8">
                <span class="input-label">Hi...</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="chatGruppenchat-button27" class=" button button-positive  icon-right ion-android-send "></button>
    </ion-content>
</ion-view>