<ion-view title="Chat Einzelperson" id="templates/chatEinzelperson.html" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="chatEinzelperson-list14" class=" ">
            <ion-item class="item-avatar  " id="chatEinzelperson-list-item31">
                <img src="img/NGe22aPvTGmVawWRYePa_Passbild.jpg">
                <h2>Franziska Mönster</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 214px;"></div>
        <form id="chatEinzelperson-form5" class="list ">
            <label class="item item-input " id="chatEinzelperson-input7">
                <span class="input-label">Hi...</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="chatEinzelperson-button26" class=" button button-positive  icon-right ion-android-send "></button>
    </ion-content>
</ion-view>