<ion-view title="Einstellungen" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="einstellungen-heading10" style="color:#000000;" class=" ">Einstellungen</h1>
        <form id="einstellungen-form8" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="einstellungen-toggle2" class=" ">Standortübermittlung</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="einstellungen-toggle3" class=" ">Benachrichtigungen</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="einstellungen-toggle4" class=" ">Toggle</ion-toggle>
        </form>
    </ion-content>
</ion-view>