<ion-view title="Einstellungen" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="einstellungen-heading10" style="color:#000000;" class=" ">Einstellungen</h1>
        <form id="einstellungen-form8" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="profil-toggle1" ng-checked="setting_allow_geolocation" >GPS Zugriff erlauben</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="profil-toggle2" ng-checked="setting_allow_notification" >Notification erlauben</ion-toggle>
        </form>
    </ion-content>
</ion-view>
