<ion-view title="Häufig gestellte Fragen" id="templates/hilfe.html" class=" ">
    <ion-content padding="true" class="has-header">
   <form id ="hilfe" class="has-header">
       <p><strong>1. Wie erstelle ich eine Anfrage?</strong></p>
       <p>Die Renovierungsarbeiten die getätigt werden sollen, können innerhalb der Checkboxen ausgewählt werden. Der User kann seine Auswahl je nach Bedarf treffen. Mindestens muss jedoch ein Feld ausgewählt werden. Die Zeitspanne, ab wann das Projekt beginnen soll und bis wann es fertiggestellt sein muss und eine Preisspanne müssen angegeben werden. Wenn der User seine Auswahl getroffen hat, kann er die Anfrage absenden und bekommt zur Bestätigung eine Übersicht angezeigt. Auch hier können noch Änderungen vorgenommen werden. Der User muss jetzt warten, bis seine Pakete zusammengestellt sind.</p><br/>
       <p><strong>2. Wann bekomme ich eine Rückmeldung?</strong></p>
       <p>Eine Rückmeldung der Anfrage kommt drei Tage vor dem Startdatum. Der User erhält eine Push Notification und kann sich die zusammengestellten Pakete anschauen und auswählen. Es ist auch abhängig davon, wie kurzfristig eine Anfrage erstellt und ausgeführt werden soll.</p> <br/>
       <p><strong>3. Wie läuft die Bezahlung?</strong></p>
       <p>Die Bezahlung muss individuell von den Usern und Anbietern geregelt werden. Der Nachrichtenchat bietet dazu eine gute Möglichkeit. Bei der Lieferung und Montage der Anfragen kann die Bezahlung abgewickelt werden. </p> <br/>
       <p><strong>4. Nach welchen Kriterien werden Pakete zusammengestellt?</strong></p>
       <p>Die Pakete werden abhängig von den Präferenzen in den Einstellungen zusammengestellt. Auch die Preisangabe und die Auswahl des Skill-Levels fließen in die Paketzusammenstellung mit ein. </p> <br/>
       <p><strong>5. Kann ich meinen Account auch für andere Apps verwenden?</strong></p>
       <p>Dieser Account kann für folgende Apps verwendet werden:</p>
       <p>Borrow it, Smart-Insurance, Smart-Tourismus, Smart-Transport</p>
        </form>
    </ion-content>
</ion-view>