<ion-view title="Historie" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="historie-heading9" style="color:#000000;" class=" ">Alte Beiträge</h1>
        <ion-list id="historie-list17" class=" ">
            <ion-item id="historie-list-item35" class="  ">Schrank in pink gesucht</ion-item>
            <ion-item class="item-thumbnail-left  " id="historie-list-item36">
                <h2>Nachttisch in rosa</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>