<ion-view title="Home Tab" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="homeTab-heading1" style="color:#000000;" class=" ">Angebote</h1>
        <div class="item item-body " id="homeTab-list-item-container4">
            <p id="homeTab-markdown3" style="margin-top:0px;color:#000000;" class=" ">Suche...</p>
        </div>
        <div class="item item-body " id="homeTab-list-item-container5">
            <p id="homeTab-markdown4" style="margin-top:0px;color:#000000;" class=" ">Biete...</p>
        </div>
        <div class="item item-body " id="homeTab-list-item-container6">
            <ion-list id="homeTab-list6" class=" ">
                <ion-item class="item-thumbnail-left  " id="homeTab-list-item16" ui-sref="anfrageBersicht">
                    <h2>Schrank</h2>
                </ion-item>
            </ion-list>
            <p id="homeTab-markdown5" style="margin-top:0px;color:#000000;" class=" ">Suche...</p>
        </div>
        <div class="item item-body " id="homeTab-list-item-container7">
            <p id="homeTab-markdown6" style="margin-top:0px;color:#000000;" class=" ">Suche...</p>
        </div>
        <div class="item item-body " id="homeTab-list-item-container8">
            <p id="homeTab-markdown7" style="margin-top:0px;color:#000000;" class=" ">Biete...</p>
            <ion-list id="homeTab-list7" class=" ">
                <ion-item class="item-thumbnail-left  " id="homeTab-list-item17">
                    <h2>Nachtisch</h2>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="homeTab-list-item-container10">
            <p id="homeTab-markdown9" style="margin-top:0px;color:#000000;" class=" ">Suche...</p>
        </div>
        <div class="item item-body " id="homeTab-list-item-container9">
            <p id="homeTab-markdown8" style="margin-top:0px;color:#000000;" class=" ">Suche...</p>
        </div>
    </ion-content>
</ion-view>