<ion-view title="Home Tab" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="homeTab-heading1" style="color:#000000;" class=" ">Anfragen, die dich interessieren könnten:</h1>


<!--loop + anzeigen aller Items -->

            <ion-list class=" " can-swipe="listCanSwipe">
              <ion-item class="item item-thumbnail-left" ng-repeat="anfrage in anfragen" ng-click="anzeigenByID(anfrage.id)" ui-sref="anfrageBersicht" >
                <img src="img/{{anfrage.type}}.png">
                <h3>{{anfrage.titel}}</h3>
                <span class="item-note">{{anfrage.cnt}} Anfrageposten</span>
                <p>{{anfrage.prename}} {{anfrage.name}}</p>
                <p>{{anfrage.minPrice}} - {{anfrage.maxPrice}}</p>
                <p>Von {{anfrage.begindate}} bis {{anfrage.enddate}}</p>
              </ion-item>
            </ion-list>
    </ion-content>
</ion-view>
