<ion-view title="Impressum" id="templates/agbs.html" class=" ">
    <ion-content padding="true" class="has-header">
          <form id="agbs" class="list ">
<p><strong>Angaben gemäß § 5 TMG:</strong></p>
<p>Duale Hochschule Baden-Wüttemberg Mannheim<br />
Coblitzallee 1-9<br />
68163 Mannheim
</p>
              <br />
<p><strong>Vertreten durch:</strong></p>         
              <p>6 Musketiere</p>
              <p>DHBW Mannheim</p>
              <p>Kurs: WWI13SEB</p>
              <br />
<p><strong>Kontakt:</strong></p>
<p>smart-handwerk@dhbw.de</p>
              <br />
<p><strong>Aufsichtsbehörde:</strong></p>
<p>DHBW Mannheim</p>
<p>Prof. Dr.-Ing. Dennis Pfisterer</p>
<p>Dipl.-Ing. Mirjana Radonjic-Simic MBA</p>
              <br />
<p>Quelle: <em><a href="https://www.e-recht24.de">https://www.e-recht24.de</a></em></p>
       </form>
         </ion-content>
</ion-view>
