<ion-view title="Meine Pakete" id="templates/MeinePakete.html" class=" ">
  <ion-content padding="true" class="has-header">
    <div class ="list">
      <div class="item item-divider">
        Meine gestellten Anfragen
      </div>
      <ion-list class=" " can-swipe="listCanSwipe">
        <ion-item class="item item-thumbnail-left" ng-repeat="anfrage in meineAnfr" ng-click="anzeigenByID(anfrage.id)" ui-sref="anfrageBersicht" >
          <img src="img/{{anfrage.type}}.png">
          <h3>{{anfrage.titel}}</h3>
          <span class="item-note">{{anfrage.cnt}} Anfrageposten</span>
          <p>{{anfrage.prename}} {{anfrage.name}}</p>
          <p>{{anfrage.minPrice}} - {{anfrage.maxPrice}}</p>
          <p>Von {{anfrage.begindate}} bis {{anfrage.enddate}}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
