<ion-view title="Nachrichten" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="nachrichten-list5" class=" ">
            <ion-item class="item-avatar  " id="nachrichten-list-item13" ui-sref="tabsController.chatEinzelperson">
                <img src="img/UE1oPgFQQhmqIgM0vHM6_Passbild.jpg">
                <h2>Franziska Mönster</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="nachrichten-list-item14" ui-sref="tabsController.chatGruppenchat">
                <img src="img/sPsKrGbRKaj4ut2EUniQ_group.jpg">
                <h2>Franziska, Annika</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
