<ion-view title="Pakete" id="templates/pakete.html" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="pakete-heading6" style="color:#000000;" class=" ">Deine Pakete</h2>
        <ion-list id="pakete-list13" class=" ">
          <ion-item class="item item" ng-repeat="paket in pakete"  >
            <div class ="list">
              <div class="item item-divider">
                Paket {{paket.cnt}} für {{paket.price}} €
              </div>
              <ion-item class="" ng-repeat="anbieter in paket.bidders">
                <p>Posten {{anbieter.cnt}} wird erledigt von: <h4>{{anbieter.first_name}} {{anbieter.last_name}}</h4></p>
              </ion-item>
            </div>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

