<ion-view title="Pakete" id="templates/pakete.html" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="pakete-heading6" style="color:#000000;" class=" ">Angebotsübersicht</h2>
        <ion-list id="pakete-list13" class=" ">
            <ion-item id="pakete-list-item28" ui-sref="angebotsBersicht" class="  ">Paket 1</ion-item>
            <ion-item id="pakete-list-item29" ui-sref="angebotsBersicht" class="  ">Paket 2</ion-item>
            <ion-item id="pakete-list-item30" ui-sref="angebotsBersicht" class="  ">Paket 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>