<ion-view title="Profil" id="templates/profil.html" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="profil-card23">
            <ion-item class="item-avatar  " id="profil-list-item15">
                <img src="img/aZtlXMI5QiQP4s0gw1Jn_snap.jpg">
                <h2>Lisa Sommer</h2>
            </ion-item>
            <div class="item item-body " id="profil-list-item-container3">
                <p id="profil-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
                <form id="profil-form9" class="list ">
                    <ion-toggle toggle-class="toggle-positive" id="profil-toggle5" class=" ">Privat</ion-toggle>
                    <ion-radio id="profil-radio1" class=" ">Alter</ion-radio>
                    <label class="item item-input " id="profil-input9">
                        <span class="input-label">Emailadresse</span>
                        <input type="text" placeholder="lisa-marie.sommer@hpe.com">
                    </label>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>