<ion-view title="Profil" id="templates/profil.html" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="profil-card23">
            <ion-item class="item-avatar  " id="profil-list-item15">
                <img src="img/aZtlXMI5QiQP4s0gw1Jn_snap.jpg">
                <h2>{{username}}</h2>
            </ion-item>
            <div class="item item-body " id="profil-list-item-container3">
                <form id="profil-form9" class="list ">
                    <label class="item item-input " id="profil-input1">
                      <span class="input-label">Geburtsdatum</span>
                      <input type="text" placeholder="e.g. 24.12.1992" value="{{birthday}}">
                    </label>
                    <label class="item item-input " id="profil-input2">
                        <span class="input-label">E-Mail-Addresse</span>
                        <input type="text" placeholder="e.g. santa.claus@googlemail.com" value="{{email}}">
                    </label>
                    <label class="item item-input " id="profil-input3">
                      <span class="input-label">Vorname</span>
                      <input type="text" placeholder="e.g. Santa" value="{{prename}}">
                    </label>
                    <label class="item item-input " id="profil-input4">
                      <span class="input-label">Nachname</span>
                      <input type="text" placeholder="e.g. Claus" value="{{name}}">
                    </label>
                    <label class="item item-input " id="profil-input5">
                      <span class="input-label">Telefon-Nr</span>
                      <input type="text" placeholder="e.g. 0621/12345" value="{{phoneno}}">
                    </label>
                  <label class="item item-input " id="profil-input6">
                    <span class="input-label">Land</span>
                    <input type="text" placeholder="e.g. Deutschland" value="{{country}}">
                  </label>
                  <label class="item item-input " id="profil-input7">
                    <span class="input-label">Bundesland</span>
                    <input type="text" placeholder="e.g. Rheinland-Pfalz" value="{{state}}">
                  </label>
                  <label class="item item-input " id="profil-input8">
                    <span class="input-label">Stadt</span>
                    <input type="text" placeholder="e.g. Mannheim" value="{{city}}">
                  </label>
                  <label class="item item-input " id="profil-input9">
                    <span class="input-label">Postleitzahl</span>
                    <input type="text" placeholder="e.g. 53257" value="{{postal_code}}">
                  </label>
                  <label class="item item-input " id="profil-input10">
                    <span class="input-label">Straße</span>
                    <input type="text" placeholder="e.g. Hauptstraße" value="{{street}}">
                  </label>
                  <label class="item item-input " id="profil-input11">
                    <span class="input-label">Hausnummer</span>
                    <input type="text" placeholder="e.g. 7" value="{{house_number}}">
                  </label>
                  <label class="item item-input " id="profil-input12">
                    <span class="input-label">Extra</span>
                    <input type="text" placeholder="e.g. a" value="{{extra}}">
                  </label>
                  <label class="item item-input " id="profil-divider">
                    <span class="input-label">Skills</span>
                  </label>

                      <label class="item item-input item-select" ng-repeat="item in skilllist">
                        <div class="input-label">
                          {{item.description}}
                        </div>
                        <select id="{{item.id}}_sel">
                          <option id="{{item.id}}_1" ng-selected="{{item.s1}}">Nicht vorhanden</option>
                          <option id="{{item.id}}_2" ng-selected="{{item.s2}}">Hobby</option>
                          <option id="{{item.id}}_3" ng-selected="{{item.s3}}">Gelernt</option>
                          <option id="{{item.id}}_4" ng-selected="{{item.s4}}">Professional</option>
                        </select>
                      </label>

                </form>
            </div>
        </div>
      <!-- <ion-footer-bar class="bar bar-positive"> -->
      <div class="button-bar">
        <!-- <a ui-sref="tabsController.homeTab" id="anfrageBersicht-button11" class="button button-positive">Abbrechen</a> -->
        <a ng-click="speichern()" id="einstellungen-button13" <a ui-sref="tabsController.homeTab" class="button button-positive">Speichern</a>
      </div>
    </ion-content>
</ion-view>
