<ion-view title="Profil" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="profil-card23">
            <ion-item class="item-avatar  " id="profil-list-item15">
                <h2>Item</h2>
            </ion-item>
            <div class="item item-body " id="profil-list-item-container3">
                <p id="profil-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>